<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medium</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" href="/assessts/medium.png">
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <main>
        <div id="page-1">
            <div id="page-1-part1">
                <div>
                    <h1 style="font-size: 2.3vw; font-weight: 600;">
                        Discover inspiring stories, insightful articles, and a community of passionate writers at our blog!
                    </h1>
    
                    <p style="font-size: 1.5vw;">
                        Join our community and start sharing your favourite thoughts with enthusiasts from every topic all over the world
                    </p>
    
                    <button>
                        Read More
                    </button>
                </div>
            </div>

            <div id="page-1-part2">
                <img src="https://images.unsplash.com/photo-1715351191012-c67dd96e3483?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
        </div>

        <div id="page-2">
            <h1 style="text-align: left; padding-left: 10vw; font-size: 3vw; font-weight: 400;">Featured Post</h1>
            <div id="blogs">
            <% let j = 1 %>
            <% for (let blog of blogs) { %>
                <div id="blog">
                    <img src="<%= blog.img %>" alt="">
                    <div id="inner-blog">
                        <p><%= blog.content %></p>
                        <button type="submit"><a href="/blogs/<%= blog._id %>">Read More</a></button>
                    </div>
                </div>
                <% j++ %>
                <% if( j > 5) { %>
                <% break %>
                <% } %>
            <% } %>
            </div>
        </div>

        <div id="page-3">
            <h1 style="text-align: right; padding-right: 10vw; font-size: 3vw; font-weight: 400; width: 100%;">Latest Post</h1>
            <div id="blogs">
                <% let i = 1 %>
                <% for (let blog of blogs) { %>
                    <div id="blog">
                        <img src="<%= blog.img %>" alt="">
                        <div id="inner-blog">
                            <p><%= blog.content %></p>
                            <button type="submit"><a href="/blogs/<%= blog._id %>">Read More</a></button>
                        </div>
                    </div>
                    <% i++ %>
                    <% if( i > 5) { %>
                    <% break %>
                    <% } %>
                <% } %>
            </div>
        </div>

        <div id="page-4">
            <div id="page-4-part1">
                <div class="page-4-text">
                    <h1 style="font-size: 3vw; font-weight: 400; text-align: left; width: 100%;">About Medium</h1>
                    <p style="font-size: 1.5vw;">Welcome to our blog! Here, we embark on a journey through captivating narratives, insightful analyses, and thought-provoking discussions. From exploring the latest trends to delving into timeless wisdom, our blog is a haven for curiosity seekers, knowledge enthusiasts, and anyone hungry for inspiration. Join us in this enriching adventure!</p>
                </div>

                <div class="page-4-img">
                    <img src="https://images.unsplash.com/photo-1715590876582-18e4844864a6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHx8" alt="">
                </div>

            </div>

            <div id="page-4-part1">
                <div class="page-4-img">
                    <img src="https://images.unsplash.com/photo-1715607817921-aa6417a19dbd?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzNXx8fGVufDB8fHx8fA%3D%3D" alt="">
                </div>

                <div class="page-4-text">
                    <h1 style="font-size: 2vw; font-weight: 400; text-align: left; width: 100%;">Discover Everyhting About Us</h1>
                    <p style="font-size: 1.2vw;">Stay in the loop and never miss a beat! Enter your email to unlock exclusive updates, exciting news, and insider insights delivered straight to your inbox. Join our vibrant community and be the first to know about all the latest happenings!</p>
                    <div class="inp">
                        <input type="text" placeholder="Reach Out To us!!">
                        <button type="submit">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>
</html>